{% extends "base.html" %}
    {% block title %}
        {% if page_obj %}
            TV Shows
        {% endif %}
    {% endblock %}
    {% block content %}
    <h1>TV Shows:</h1> 
    {% if page_obj %}
                <div class="borderz">
                {% for series in page_obj %}
                    <h3><a class="textx" href="/tv_shows/{{ series.id }}">{{ series.title }}</a></h3>
                    {% load static %}

                    <img class="img-fluid" src="../{{ series.image }}" width="600px" />
                    <p class="textx">{{ series.comment }}</p>
                    <hr>
                {% endfor %}
                </div>
                
            {% else %}
                <p>No series are available.</p>
                
            {% endif %}
            
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul> 
    {% endblock %}