{% extends "base.html" %}
{% load bootstrap4 %}
    {% block title %}
        {% if info %}
            {% for people in info %}
                {{ people.full_name }}
            {% endfor %}
        {% else %}
            Not found
        {% endif %}
    {% endblock %}
    {% block content %}
        {% if info %}
            <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for people in info %}
                <h3><a style="color: black;text-decoration:none;" href="/people/{{ people.id }}">{{ people.full_name }}</a></h3>
                {% load static %}
                <img src="../../{{ people.image }}" width="600px" />
                
                <div class="txt-center">
                    <form action="{% url 'main:people_rate' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ people.id }}" name="people-id"/>
                        <div class="rating">
                            <input id="star10" name="point" type="submit" value="10" class="radio-btn hide" />
                            <label for="star10">☆</label>
                            <input id="star9" name="point" type="submit" value="9" class="radio-btn hide" />
                            <label for="star9">☆</label>
                            <input id="star8" name="point" type="submit" value="8" class="radio-btn hide" />
                            <label for="star8">☆</label>
                            <input id="star7" name="point" type="submit" value="7" class="radio-btn hide" />
                            <label for="star7">☆</label>
                            <input id="star6" name="point" type="submit" value="6" class="radio-btn hide" />
                            <label for="star6">☆</label>
                            <input id="star5" name="point" type="submit" value="5" class="radio-btn hide" />
                            <label for="star5">☆</label>
                            <input id="star4" name="point" type="submit" value="4" class="radio-btn hide" />
                            <label for="star4">☆</label>
                            <input id="star3" name="point" type="submit" value="3" class="radio-btn hide" />
                            <label for="star3">☆</label>
                            <input id="star2" name="point" type="submit" value="2" class="radio-btn hide" />
                            <label for="star2">☆</label>
                            <input id="star1" name="point" type="submit" value="1" class="radio-btn hide" />
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <p style="color: floralwhite;">{{ people.comment }}</p>
                {% if rate %}
                    <p>Rate: {{ rate }}<br> Count: {{ count }}</p>
                {% else %}
                    <p>Nobody voted this.</p>
                {% endif %}
                <hr>
                    {% if movies %}
                        Movies: 
                        {% for movie in movies %}
                            <a style="color: floralwhite;" href="/movies/{{ movie.movie.id}}">{{ movie.movie.title }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No Movies are available.</p>
                    {% endif %}
                <hr>
                    {% if series %}
                        TV Shows: 
                        {% for seri in series %}
                            <a style="color: floralwhite;" href="/tv_shows/{{ seri.serial.id}}">{{ seri.serial.title }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No TV Shows are available.</p>
                    {% endif %}
                <hr>
                {% endfor %}
            </div>
        {% else %}
            <p>No movie are available.</p>
        {% endif %}
    {% endblock %}
