{% extends "base.html" %}
    {% block title %}
        {% if page_obj %}
            Celebrities
        {% endif %}
    {% endblock %}
    {% block content %}
    <h1 class="container">Celebrities:</h1> 
    {% if page_obj %}
                <div class="borderz mx-auto w-100 container mx-auto">
                {% for peoples in page_obj %}
                    <h3><a class="textx" href="/people/{{ peoples.id}}">{{ peoples.full_name }}</a></h3>
                    {% load static %}

                    <img class="img-fluid" src="../{{ peoples.image }}" width="600px" />
                    <p class="textx">{{ peoples.comment }}</p>
                    <hr>
                {% endfor %}
                </div>
            {% else %}
                <p>No peoples are available.</p>
                
            {% endif %}
            
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul> 
    {% endblock %}