{% extends "base.html" %}
    {% block content %}
    {% if list %}
                <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for peoples in list %}
                    <h3><a style="color: floralwhite;text-decoration:none;" href="/people/{{ peoples.id}}">{{ peoples.full_name }}</a></h3>
                    {% load static %}

                    <img src="../{{ peoples.image }}" width="600px" />
                    <p style="color: floralwhite;">{{ peoples.comment }}</p>
                    {% if role %}
                        Movies: 
                        {% for roles in role %}
                            <p style="color: floralwhite;">{{ roles.movie.title }}</p>
                        {% endfor %}
                        TV Shows:
                        {% for roles in role %}
                            <p style="color: floralwhite;">{{ roles.serial.title }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No roles are available.</p>
                    {% endif %}
                    <hr>
                {% endfor %}
                </div>
            {% else %}
                <p>No peoples are available.</p>
            {% endif %}
    {% endblock %}