body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: blue;
  }
  
  .topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: black;
    color:yellowgreen;
  }
  
  .topnav a.active {
    background-color:red;
    color: white;
  }
  .title{
      text-decoration: none;
  }
