{% extends "base.html" %}
{% load bootstrap4 %}
    {% block content %}
        <h1>Login here :</h1> 
            <form method="post" action="{% url 'accounts:login' %}" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                  <button name="submit" class="btn btn-primary">Log in</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'main:index' %}"/>
                <div class="container" style="background-color:#f1f1f1">
                <a href="{% url 'main:index' %}" >
                  <span class="btn btn-secondary">Cancel</span>
                </a>
                  <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
    {% endblock %}