{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
    {% block title %}
    Register
    {% endblock %}
    {% block content %}
    <style>
      	
legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}
.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
	}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
}
    </style>
        <div class="container">
            <div class="row">
                <h3 class="col-sm-offset-3 col-sm-6">Signup</h3>
            </div>
                <div class="col-sm-6">
                    <form action="{% url 'accounts:register' %}" method="POST" accept-charset="utf-8" class="form" role="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %} 
                        <button class="btn btn-lg btn-primary btn-block signup-btn" name="submit">Create my account</button>
                        {% endbuttons %}
                        <input type="hidden" name="next" value="{% url 'main:index' %}"/>
                  </form>          
              </div>
            </div>
          </div>
      </div>
    {% endblock %}