{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
    {% block title %}
    Register
    {% endblock %}
    {% block content %}
        <h1>Register:</h1> 
        <form method="POST" action="{% url 'accounts:register' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %} 
              <button name="submit">Register</button>
            {% endbuttons %}
            <a href="{% url 'main:index' %}" >
              <span class="btn btn-secondary">Cancel</span>
            </a>
            <input type="hidden" name="next" value="{% url 'main:index' %}"/>
        </form> 
    {% endblock %}