{% extends "base.html" %}
{% load bootstrap4 %}
    {% block title %}
        {% if info %}
            {% for movie_theater in info %}
                {{ movie_theater.name }}
            {% endfor %}
        {% else %}
            Not found
        {% endif %}
    {% endblock %}
    {% block content %}
        {% if info %}

            <div class="borderz w-100 container mx-auto">
                {% for movie_theater in info %}
                <h3><a class="textx" href="/movie_theaters/{{ movie_theater.id }}">{{ movie_theater.name }}</a></h3>
                {% load static %}
                <img class="img-fluid" src="../../{{ movie_theater.image }}" width="600px"  />
                <div class="txt-center">
                    {% if situation %}
                        <div class="alert alert-danger">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          {{ situation }} <a class="nav-link" href="{% url 'accounts:login' %}">Here</a>
                        </div>
                    {% endif%}
                    <form action="{% url 'main:cinema_rate' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ movie_theater.id }}" name="cinema-id"/>
                        <div class="rating">
                            <input id="star10" name="point" type="submit" value="10" class="radio-btn hide" />
                            <label for="star10">☆</label>
                            <input id="star9" name="point" type="submit" value="9" class="radio-btn hide" />
                            <label for="star9">☆</label>
                            <input id="star8" name="point" type="submit" value="8" class="radio-btn hide" />
                            <label for="star8">☆</label>
                            <input id="star7" name="point" type="submit" value="7" class="radio-btn hide" />
                            <label for="star7">☆</label>
                            <input id="star6" name="point" type="submit" value="6" class="radio-btn hide" />
                            <label for="star6">☆</label>
                            <input id="star5" name="point" type="submit" value="5" class="radio-btn hide" />
                            <label for="star5">☆</label>
                            <input id="star4" name="point" type="submit" value="4" class="radio-btn hide" />
                            <label for="star4">☆</label>
                            <input id="star3" name="point" type="submit" value="3" class="radio-btn hide" />
                            <label for="star3">☆</label>
                            <input id="star2" name="point" type="submit" value="2" class="radio-btn hide" />
                            <label for="star2">☆</label>
                            <input id="star1" name="point" type="submit" value="1" class="radio-btn hide" />
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <br>
                <p class="textx">{{ movie_theater.address }}</p>
                {% if rate %}
                    <p>Rate: {{ rate }}<br> Count: {{ count }}</p>
                {% else %}
                    <p>Nobody voted this.</p>
                {% endif %}
                <hr>
                <p class="textx">Movies: 
                    {% for movie in movie_theater.movie.all %}
                        <a class="textx" href="/movies/{{ movie.id}}"> {{ movie.title }} </a>
                    {% endfor %}
                </p>
                {% endfor %}
            </div>
        {% else %}
            <p>No movie theater are available.</p>





        {% endif %}
                    <!-- Modal  -->
            <!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
        
              <!--Modal cascading tabs-->
              <div class="modal-c-tabs">
        
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                      Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                      Register</a>
                  </li>
                </ul>
        
                <!-- Tab panels -->
                <div class="tab-content">
                  <!--Panel 7-->
                  <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
        
                    <!--Body-->
                    <div class="modal-body mb-1">
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                      </div>
        
                      <div class="md-form form-sm mb-4">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                      </div>
                      <div class="text-center mt-2">
                        <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                      </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                        <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                      </div>
                      <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                    </div>
        
                  </div>
                  <!--/.Panel 7-->
        
                  <!--Panel 8-->
                  <div class="tab-pane fade" id="panel8" role="tabpanel">
        
                    <!--Body-->
                    <div class="modal-body">
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                      </div>
        
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                      </div>
        
                      <div class="md-form form-sm mb-4">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                      </div>
        
                      <div class="text-center form-sm mt-2">
                        <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                      </div>
        
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-right">
                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                      </div>
                      <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!--/.Panel 8-->
                </div>
        
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!--Modal: Login / Register Form-->
        
        <div class="text-center">
          <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Launch
            Modal LogIn/Register</a>
        </div>
        <script></script>
    {% endblock %}
