{% extends "base.html" %}
    {% block title %}
    {% if page_obj %}
        Movie Theaters
    {% endif %}
    {% endblock %}
    {% block content %}
    <h1>Movie Theaters:</h1> 
        {% if page_obj %}
            <div class="borderz">
                {% for movie_theater in page_obj %}
                <h3><a class="textx" href="/movie_theaters/{{ movie_theater.id }}">{{ movie_theater.name }}</a></h3>
                {% load static %}
                <img class="img-fluid" src="../{{ movie_theater.image }}" width="600px" />
                <p class="textx">{{ movie_theater.address }}</p>
                <hr>
                {% endfor %}
            </div>
        {% else %}
            <p>No Movie Theater are available.</p>
        {% endif %}

        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
          </ul> 
    {% endblock %}