{% extends "base.html" %}
    {% block title %}
        {% if page_obj %}
            News
        {% endif %}
    {% endblock %}
    {% block content %}
    <h1>News:</h1> 
            {% if page_obj %}
                <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for news in page_obj %}
                    <h3><a style="color: black;text-decoration:none;" href="/news">{{ news.title }}</a></h3>
                    {% load static %}

                    <img src="../{{ news.image }}" width="600px" />
                    <p style="color: black;">{{ news.body }}</p>
                    <hr>
                {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="btn btn-dark">&laquo; First</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark">&laquo; Previous</a></a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark">Next &raquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>No news are available.</p>
            {% endif %}
    {% endblock %}