
<html>
    <head>
        <title>Cinervice</title>
 </head>
    <body style="background-color:darkslateblue;">
        <div>
            <h1 ><a style="color: floralwhite; text-align: center;" href="/">Cinervice</a></h1>
            {% if news_list %}
                <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for news in news_list %}
                    <h3><a style="color: floralwhite;" href="/news">{{ news.title }}</a></h3>
                    {% load static %}

                    <img src="../{{ news.image }}" width="600px" />
                    <p style="color: floralwhite;">{{ news.body }}</p>
                    <hr>
                {% endfor %}
                </div>
            {% else %}
                <p>No news are available.</p>
            {% endif %}
        </div>
    </body>
</html>