{% extends "base.html" %}
    {% block title %}
    About
    {% endblock %}
    {% block content %}
      <h1 class="container">About: Cinervice began its career in Iran.</h1> 
      <br>
      <div class="card-deck">
      <div style="background-color:inherit" class="card text-center ">
        <img class="card-img-top smallimg mx-auto" src="/static/images/about/ehsan.jpg" alt="Ehsan" style="width:50%; border-radius: 50%;">
        <div class="card-body">
          <h4 class="card-title">Ehsan Ahmadi Kian</h4>
          <p class="card-text">Back-end Developer</p>
          <p class="card-text">A programmer that wanted to become a philosopher</p>
          <p class="card-text">ehsan_amd72@hotmail.com</p>
          <a href="#" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div style="background-color:inherit" class="card text-center">
        <img class="card-img-top smallimg mx-auto" src="/static/images/about/kamy.jpg" alt="Reza" style="width:50%; border-radius: 50%;">
        <div class="card-body">
          <h4 class="card-title">Reza Hosseinzadeh</h4>
          <p class="card-text">Front-end Developer</p>
          <p class="card-text">A biologist developer</p>
          <p class="card-text">kamyabaghaz@gmail.com</p>
          <a href="#" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div style="background-color:inherit" class="card text-center">
        <img class="card-img-top smallimg mx-auto" src="/static/images/about/ghazale.jpeg" alt="Ghazale" style="width:50%; border-radius: 50%;">
        <div class="card-body">
          <h4 class="card-title">Ghazale Motia</h4>
          <p class="card-text">UI/UX Designer</p>
          <p class="card-text">Graphic Designer and Illustrator. Polyglot!</p>
          <p class="card-text">ghmotia@gmail.com</p>
          <a href="#" class="btn btn-primary">Contact</a>
        </div>
      </div>
      </div>
    {% endblock %}