<!DOCTYPE html>
<html>
    <head>
        <title>Cinervice</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
       <div class="topnav" id="myTopnav">
           <a class="btn active" href="/">Home</a>
           <a class="btn" href="/news">News</a>
         <a class="btn" href="/contact">Contact</a>
         <div class="dropdown">
           <button class="dropbtn">Information 
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a class="btn" href="/people">Celebrities</a>
             <a class="btn" href="/movies">Movies</a>
             <a class="btn" href="/tv_shows">TV Shows</a>
             <a class="btn" href="/movie_theaters">Movie Theaters</a>
           </div>
         </div> 
         <a class="btn" href="/about">About</a>
         <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
          {% if user.is_authenticated %}
           <a> Hello {{ user.username }}</a> <a href="{% url 'accounts:logout' %}">Log out</a>
          {% else %} 
          <a class="btn" style="float:right;" href="{% url 'accounts:login' %}">Log in</a>
          <a class="btn" style="float:right;" href="{% url 'accounts:register'%}">Register</a>
          {% endif %}
        </div>
       <script>
           function myFunction() {
             var x = document.getElementById("myTopnav");
             if (x.className === "topnav") {
               x.className += " responsive";
             } else {
               x.className = "topnav";
             }
           }
          var btnContainer = document.getElementById("myTopnav");
          var btns = btnContainer.getElementsByClassName("btn");
     for (var i = 0; i < btns.length; i++) {
     btns[i].addEventListener("click", function() {
     var current = document.getElementsByClassName("active");
     current[0].className = current[0].className.replace(" active", "");
     this.className += " active";
  });
} 
       </script>
          </div>
       
       
          <div>  
            {% block content %}

            {% endblock %}
        </div>
        
    </body>
</html>