{% extends "base.html" %}
{% load bootstrap4 %}
  {% block title %}
  Where to Find The Favorite Movie
  {% endblock %}
    {% block content %}
  
    <button id="button" onclick="getLocation()">Try It</button>

<p id="data"></p>
    {% if latitude %}

<h3>Your Location:{{ latitude }} </h3>


    {% endif %}
{% if user.is_authenticated %}
<script>
  // location 
  var x = document.getElementById("data");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
// ajax 
$('#button').click(function(){
   var data = $('.data').html()
   $.ajax({
      url: '/location',
      data: data,
      type: 'POST',
      success: function(result){
         alert(result)
     }
  })
})

// var x = document.getElementById("demo");
// function getLocation() {
//   if (navigator.geolocation) {
//     navigator.geolocation.getCurrentPosition(showPosition);
//   } else { 
//     x.innerHTML = "Geolocation is not supported by this browser.";
//   }
// }

// function showPosition(position) {
//   x.innerHTML = "Latitude: " + position.coords.latitude + 
//   "<br>Longitude: " + position.coords.longitude;
// }
// getLocation()

// xhttp.open("GET", "/location?latitude="+ position.coords.latitude + "&longitude="+ position.coords.longitude, true);
// xhttp.send();
// </script>
{% endif %}
{% endblock %}