{% extends "base.html" %}
{% load bootstrap4 %}
    {% block title %}
        {% if info %}
            {% for movie in info %}
                {{ movie.title }}
            {% endfor %}
        {% else %}
            Not found
        {% endif %}
    {% endblock %}
    {% block content %}
        {% if info %}
            <div class="borderz">
                {% for movie in info %}
                <h3><a class="textx" href="/movies/{{ movie.id }}">{{ movie.title }}</a></h3>
                {% load static %}
                <img class="img-fluid" src="../../{{ movie.image }}" width="600px" />
                <p class="textx">{{ movie.comment }}</p>
                <div class="txt-center">
                    <form action="{% url 'main:movie_rate' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ movie.id }}" name="movie-id"/>
                        <div class="rating">
                            <input id="star10" name="point" type="submit" value="10" class="radio-btn hide" />
                            <label for="star10">☆</label>
                            <input id="star9" name="point" type="submit" value="9" class="radio-btn hide" />
                            <label for="star9">☆</label>
                            <input id="star8" name="point" type="submit" value="8" class="radio-btn hide" />
                            <label for="star8">☆</label>
                            <input id="star7" name="point" type="submit" value="7" class="radio-btn hide" />
                            <label for="star7">☆</label>
                            <input id="star6" name="point" type="submit" value="6" class="radio-btn hide" />
                            <label for="star6">☆</label>
                            <input id="star5" name="point" type="submit" value="5" class="radio-btn hide" />
                            <label for="star5">☆</label>
                            <input id="star4" name="point" type="submit" value="4" class="radio-btn hide" />
                            <label for="star4">☆</label>
                            <input id="star3" name="point" type="submit" value="3" class="radio-btn hide" />
                            <label for="star3">☆</label>
                            <input id="star2" name="point" type="submit" value="2" class="radio-btn hide" />
                            <label for="star2">☆</label>
                            <input id="star1" name="point" type="submit" value="1" class="radio-btn hide" />
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                {% if rate %}
                    <p>Rate: {{ rate }}<br> Count: {{ count }}</p>
                {% else %}
                    <p>Nobody voted this.</p>
                {% endif %}
                <hr>
                    {% if actors %}
                        Actors: 
                        {% for actor in actors %}
                            <a class="textx" href="/people/{{ actor.person.id}}">{{ actor.person.full_name }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No actors are available.</p>
                    {% endif %}
                <hr>
                    {% if directors %}
                        Directors: 
                        {% for director in directors %}
                            <a class="textx" href="/people/{{ director.person.id}}">{{ director.person.full_name }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No directors are available.</p>
                    {% endif %}
                <hr>
                    {% if writers %}
                        Writers: 
                        {% for writer in writers %}
                            <a class="textx" href="/people/{{ writer.person.id}}">{{ writer.person.full_name }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No writers are available.</p>
                    {% endif %}
                <hr>
                    {% if cinemas %}
                        Movie Theaters:
                        {% for cinema in cinemas %}
                            <a class="textx" href="/movie_theaters/{{ cinema.id}}">{{ cinema.name }} </a> ,
                        {% endfor %}
                    {% else %}
                        <p>No cinemas are available.</p>
                    {% endif %}
                <hr>
                {% endfor %}
            </div>
        {% else %}
            <p>No movie are available.</p>
        {% endif %}
    {% endblock %}

