{% extends "base.html" %}
    {% block content %}
   
        {% if info %}
            <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for movie in info %}
                <h3><a style="color: floralwhite;text-decoration:none;" href="/movies/{{ movie.id }}">{{ movie.title }}</a></h3>
                {% load static %}
                <img src="../../{{ movie.image }}" width="600px" />
                <p style="color: floralwhite;">{{ movie.comment }}</p>
                <div class="txt-center">
                    <form action="/movies/{{ movie.id }}/vote" method="GET">
                        <div class="rating">
                            <input id="star10" name="point" type="submit" value="10" class="radio-btn hide" />
                            <label for="star10">☆</label>
                            <input id="star9" name="point" type="submit" value="9" class="radio-btn hide" />
                            <label for="star9">☆</label>
                            <input id="star8" name="point" type="submit" value="8" class="radio-btn hide" />
                            <label for="star8">☆</label>
                            <input id="star7" name="point" type="submit" value="7" class="radio-btn hide" />
                            <label for="star7">☆</label>
                            <input id="star6" name="point" type="submit" value="6" class="radio-btn hide" />
                            <label for="star6">☆</label>
                            <input id="star5" name="point" type="submit" value="5" class="radio-btn hide" />
                            <label for="star5">☆</label>
                            <input id="star4" name="point" type="submit" value="4" class="radio-btn hide" />
                            <label for="star4">☆</label>
                            <input id="star3" name="point" type="submit" value="3" class="radio-btn hide" />
                            <label for="star3">☆</label>
                            <input id="star2" name="point" type="submit" value="2" class="radio-btn hide" />
                            <label for="star2">☆</label>
                            <input id="star1" name="point" type="submit" value="1" class="radio-btn hide" />
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                {% if rate %}
                    <p>Rate: {{ rate }}<br> Count: {{ count }}</p>
                {% else %}
                    <p>Nobody voted this.</p>
                {% endif %}
                <hr>
                {% endfor %}
            </div>
        {% else %}
            <p>No movie are available.</p>
        {% endif %}
    {% endblock %}

