{% extends "base.html" %}
    {% block title %}
    {% if page_obj %}
        Movies
    {% endif %}
    {% endblock %}
    {% block content %}
    <h1>Movies:</h1> 
        {% if page_obj %}
                <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for movies in page_obj %}
                    <h3><a style="color: black;text-decoration:none;" href="/movies/{{ movies.id }}">{{ movies.title }}</a></h3>
                    {% load static %}

                    <img src="../{{ movies.image }}" width="600px" />
                    <p style="color: black;">{{ movies.comment }}</p>
                    
                    <hr>
                {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>No movies are available.</p>
            {% endif %}
        {% endblock %}