
<html>
    <head>
        <title>Cinervice</title>
 </head>
    <body style="background-color:darkslateblue;">
        <div>
            <h1 ><a style="color: floralwhite; text-align: center;text-decoration:none;" href="/">Cinervice</a></h1>
            {% if list %}
                <div style="margin: 50px; border: 1px solid thistle; padding: 10px;">
                {% for movies in list %}
                    <h3><a style="color: floralwhite;text-decoration:none;" href="/news">{{ movies.title }}</a></h3>
                    {% load static %}

                    <img src="../{{ movies.image }}" width="600px" />
                    <p style="color: floralwhite;">{{ movies.comment }}</p>
                    <hr>
                {% endfor %}
                </div>
            {% else %}
                <p>No news are available.</p>
            {% endif %}
        </div>
    </body>
</html>